---
import { getCollection } from 'astro:content';

import DefaultLayout from '../layouts/DefaultLayout.astro';
import Hero from '../components/Hero.astro';
// import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro';
import SmallFeature from '../components/SmallFeature.astro';
import { Icon } from 'astro-icon';
import FormattedDate from '../components/FormattedDate.astro';

const projects = (await getCollection('projects'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);
---

<DefaultLayout title="Home">
  <Hero />
  <!-- <section class="my-32">
    <div class="container">
      <ContentMedia imgSrc="/placeholder-about.jpg" reverseImg>
        <h2>Hello visitor</h2>
        <p class="text-2xl">
          I'm a web developer with a love for alliteration, bad puns, and accessible, user-friendly websites and web
          apps.
        </p>
      </ContentMedia>
    </div>
  </section> -->
  <div class="my-32">
    <div class="container">
      <hr class="hero-line border-2" />
    </div>
  </div>

  <section class="my-16">
    <div class="container">
      <!-- <h2 class="mb-16 text-6xl">Featured Projects</h2> -->
      {
        projects.map((project) => {
          // limit description to last word within 80 characters
          const description =
            project.data.description.length > 140
              ? `${project.data.description.substring(0, 140).replace(/\s\w+$/, '')}...`
              : project.data.description;
          const { hero, graphic } = project.data.images;
          return (
            <>
              <ContentMedia
                imgSrc={`${import.meta.env.BASE_URL}img/${hero}`}
                graphicSrc={graphic ? `${import.meta.env.BASE_URL}/img/${graphic}` : ''}
                reverseImg
              >
                <p class="uppercase">Project</p>
                <h3 class="align-middle text-6xl">{project.data.title}</h3>
                <h4>
                  <FormattedDate date={project.data.pubDate} />
                </h4>
                <p class="text-3xl">{description}</p>
                <a href={`${import.meta.env.BASE_URL}projects/${project.slug}`} class="uppercase !no-underline">
                  Explore
                  <Icon name="arrow" class="ml-5 inline h-4" />
                </a>
              </ContentMedia>
              <div class="container">
                <hr />
              </div>
            </>
          );
        })
      }
    </div>
  </section>

  <section class="mb-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Technologies</h2>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-6">
        <SmallFeature icon="mdi:language-html5" title="HTML" />
        <SmallFeature icon="mdi:language-css3" title="CSS" />
        <SmallFeature icon="mdi:tailwind" title="Tailwind" />
        <SmallFeature icon="mdi:bootstrap" title="Bootstrap" />
        <SmallFeature icon="mdi:language-typescript" title="Typescript" />
        <SmallFeature icon="mdi:language-javascript" title="JavaScript" />
        <SmallFeature icon="mdi:react" title="React" />
        <SmallFeature icon="mdi:nodejs" title="Node.js" />
        <SmallFeature icon="mdi:git" title="Git" />
      </div>
    </div>
  </section>

  <!-- <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section> -->
</DefaultLayout>
